* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}
main{
  height: 100%;
}

.header-wrapper,
.footer-wrapper {
  height: 53px;
  background-color: aqua;
}

.header-wrapper {
  border-bottom: 3px solid black;
}

.footer-wrapper {
  border-top: 3px solid black;
}

.header-wrapper > h3 {
  font-size: 45px;
  text-align: center;
}

.block-item {
  border: 2px solid black;
  width: calc(25% - 20px);
  height: 100px;
  padding: 10px;
  margin: 10px;
}

.block-item > h3 {
  font-size: 20px;
  text-align: center;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

/* class for editing */

.body-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  /* flex-direction: column; */
}

.aside{
  display: flex;
  flex-direction: column;
  height:100%;
  width:calc(50% - 20px);
  margin: 10px;
  padding: 10px;
}

.left-aside{
  background-color: beige;
}

.right-aside{
  background-color: crimson;
}

.line{
  display: flex;
  flex-direction: row;
  width: calc(100% - 20px);
  margin: 10px;
  padding: 10px;
  min-height: 100px;
  background-color: darkgray;
}

#submitButton{
  margin-top: 10px;
}
